<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AnaControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <AnaControl.Properties.Settings>
            <setting name="DefaultChartType" serializeAs="String">
                <value>Column</value>
            </setting>
            <setting name="DefaultDataType" serializeAs="String">
                <value>产能分析</value>
            </setting>
            <setting name="DefaultDateTimeStart" serializeAs="String">
                <value>2010-01-01</value>
            </setting>
            <setting name="DefaultDateTimeEnd" serializeAs="String">
                <value>02/26/2015 15:30:00</value>
            </setting>
            <setting name="DefaultTestItem" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultRemoveRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultRemovePassData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultRemoveFailData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultShowNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AbnormalLowData" serializeAs="String">
                <value>-999999</value>
            </setting>
            <setting name="AbnormalUpData" serializeAs="String">
                <value>999999</value>
            </setting>
            <setting name="ProductType" serializeAs="String">
                <value>%</value>
            </setting>
            <setting name="AutoWildcard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultRemoveSpecialData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultTestBench" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultShowValues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultMaxTestTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultMinTestTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultTestDataUpLimit" serializeAs="String">
                <value>100</value>
            </setting>
        </AnaControl.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
